<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402609467417-i422kcct1rder8pjjljnfdumvut7mgeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402609467417-i422kcct1rder8pjjljnfdumvut7mgeo</string>
	<key>API_KEY</key>
	<string>AIzaSyD31o0awqO8rWV7Dq5B_q_7OHISec-QRgE</string>
	<key>GCM_SENDER_ID</key>
	<string>402609467417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nixapp</string>
	<key>PROJECT_ID</key>
	<string>quitwithnixapp</string>
	<key>STORAGE_BUCKET</key>
	<string>quitwithnixapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402609467417:ios:d66e0f16cbc022e3e4fa88</string>
	<key>DATABASE_URL</key>
	<string>https://quitwithnixapp.firebaseio.com</string>
</dict>
</plist>